<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="tokenView" role="dialog"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="createFileTitle">令牌列表</span>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div th:each="entries:${TokenList}">
                    <div class="row">
                        <div class="col-xs-16" id="divSelection1" th:text="${entries['Token']}" style="text-align: center;">
                            <ul>
                                <li><span>1</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>2</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>3</span><a href="http://www.zzarea.com/css">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>4</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>5</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>6</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>7</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>8</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>9</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                                <li><span>10</span><a href="#">CSS盒子模型：CSS盒子模型是什么意</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="modal-footer">-->
<!--                <button class="btn btn-primary" id="gotoVoteID" type="button">GO</button>-->
<!--            </div>-->
        </div>
    </div>
</div>